* {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
li {
    display: inline;
}
.burger {
    display: none;
}
.submit-input {
    padding: 2px 50px;
    height: 37px;
    background-color: #F5F5F5;
    color: #308CBF;
    border: #308CBF 1px solid;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .4s ease-out,
    color .1s ease-out;
}
.submit-input:hover {
    background-color: #308CBF;
    border: grey 1px solid;
    color: #fff;
    transition: background-color .5s ease-out,
    color .1s ease-out,
    border .4s ease-out;
}
.submit-input:active {
    background-color: #F5F5F5;
    color: #308CBF;
    border: #308CBF 1px solid;
    transition: background-color .1s ease-out,
    color .4s ease-out;
}
.submit-input:focus {
    outline: none;
}
.container {
    background-color: #F5F5F5;
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 35px;
    margin-left: 90px;
    font-size: 34px;
}
.header__list-wrapper {
    margin-right: 90px;
}
.header__list {
    font-size: 22px;
    margin-top: 46px;
}
.header__list li {
    margin-right: 35px;
}
.header__line {
    display: block;
    max-width: 1220px;
    height: 1px;
    border: 0;
    margin-bottom: 2px;
    padding-bottom: 1px;
    border-top: 1px solid #308CBF;
}
.post-form__content {
    padding-top: 150px;
    padding-bottom: 200px;
}
.post-form {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.post-form__title {
    font-size: 24px;
    text-align: center;
}
.post-form__textarea-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.post-form__textarea {
    font-size: 16px;
    margin-top: 15px;
    height: 150px;
    width: 800px;
    padding: 5px;
    resize: none;
    border-color: #308CBF;
}
.post-form__picture-input-wrapper {
    max-width: 600px;
    margin: 20px auto 30px;
}
.post-form__picture-label {
    display: flex;
    justify-content: center;
}
.post-form__picture-input {
    display: flex;
    align-items: center;
}
.post-form__picture-input_hidden {
    display: none;
}
.post-form__picture-wrapper {
    display: none;
    padding-bottom: 58%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.picture-wrapper_active {
    display: block;
}
.post-form__picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.post-form__picture-input {
    margin-top: 20px;
}
.post-form__line {
    display: block;
    max-width: 1220px;
    height: 1px;
    border: 0;
    margin-bottom: 2px;
    padding-bottom: 1px;
    border-top: 1px solid #308CBF;
}
.post-form__submit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
@media (max-width: 880px) {
    .logo {
        position: relative;
        margin-top: 15px;
        margin-left: 40px;
        font-size: 34px;
        z-index: 3;
    }
    .logo__ref_active {
        color: #fff;
    }
    .header_active:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #308CBF;
    }
    .header__list-wrapper {
        position: fixed;
        top: -100%;
        width: 100%;
        height: 100%;
        background-color: #e5e5e5;
        transition: all 0.3s ease;
        overflow: auto;
    }
    .header__list_active {
        top: 0;
        transition: all 0.3s ease;
    }
    .header__list {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        margin-top: 90px;
        margin-bottom: 0;
    }
    .header__list li {
        margin-bottom: 16px;
    }
    .burger {
        z-index: 3;
        margin-top: 26px;
        margin-right: 30px;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .burger:before, .burger:after {
        height: 2px;
        content: '';
        width: 100%;
        position: absolute;
        background-color: #308CBF;
        transition: all 0.3s ease;
    }
    .burger span {
        position: absolute;
        top: 9px;
        height: 2px;
        width: 100%;
        background-color: #308CBF;
        transition: all 0.3s ease;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }
    .burger_active:after {
        bottom: 9px;
        background-color: #fff;
        transform: rotate(45deg);
        transition: all 0.3s ease;
    }
    .burger_active:before {
        top: 9px;
        background-color: #fff;
        transform: rotate(-45deg);
        transition: all 0.3s ease;
    }
    .burger_active span {
        background-color: #fff;
        transform: scale(0);
        transition: all 0.3s ease;
    }
    .body_lock {
        overflow: hidden;
    }
    .post-form__content {
        padding-top: 100px;
    }
    .post-form__textarea {
        width: 600px;
    }
}
@media (max-width: 630px) {
    .post-form__textarea {
        width: 500px;
    }
}
@media (max-width: 530px) {
    .post-form__textarea {
        width: 400px;
        height: 130px;
    }
}
@media (max-width: 450px) {
    .logo {
        margin-left: 10px;
    }
    .burger {
        margin-right: 10px;
    }
}
@media (max-width: 420px) {
    .post-form__textarea {
        width: 300px;
    }
}

